{% extends 'base.html' %}
{%block style%}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{%endblock%}
{%block content%}
<div class="container">
    <div class="row justify-content-start">

        <div class="col">
            <div class="row">
                <div class="col-md-11">
                </div>
                <div class="col">
                    <a class="btn btn-primary" href="/books/new" role="button">New</a>
                </div>

            </div>


            <!-- Books table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <th scope="row">{{book.id}}</th>
                        <td><a href="/books/{{book.id}}">{{ book.title }}</a></td>
                        <td>{{ book.author }}</td>
                        <td>
                            <button onclick="handleBookDelete({{book.id}})" class="btn btn-danger btn-lg"
                                role="button"><i class="fas fa-trash-alt"></i></button>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--end of Books table -->
        </div>

    </div>


</div>
</div>
<script type=text/javascript src="{{
    url_for('static', filename='js/book.js') }}"></script>
{%endblock%}