{% extends 'base.html' %}
{%block style%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
{%endblock%}
{%block content%}
<h3>Book {{book.id}}</h3>

<div class="col">
    <div class="row">
        <div class="col-md-11">
        </div>
        <div class="col">
            <form enctype="multipart/form-data" action="/books/{{book.id}}/pages/upload" method="POST">
                <label class="btn btn-primary">
                    Upload <input type="file" onchange="this.form.submit()" name="file" hidden>
                </label>
            </form>
        </div>

    </div>
</div>
<div class="grid-container">
    {%for page in book.pages%}

    <div class="grid-item">
        <div class="item-img-container">
            <img id="img-{{page.id}}" src="/{{page.image_path}}">
        </div>
        <div class="item-info">
            <p>{{page.id}}</p>
        </div>
    </div>
    {%endfor%}
</div>


{%endblock%}