{% extends 'base.html' %}
{% block title %} Home Page {%endblock%}
{% block content %}
<div class="container">
    <form action='/books' method="post" role="form">
        <div class="mb-3">
            <label for="bookTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="bookTile" name="bookTile">
        </div>
        <div class="mb-3">
            <label for="bookAuthor" class="form-label">Author</label>
            <input type="text" class="form-control" id="bookAuthor" name="bookAuthor">
        </div>
        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    </form>
</div>

{%endblock%}