.grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(9, 10%);
}
.grid-container > div {
    display: inline-block;
    border: black 3px solid;
    margin: 16px;
}

.item-img-container {
    display: flex;
    align-items: center;
    
    height: 90%;
    width: 100%;
}

.item-img-container img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin:auto;
}

.item-info {
    display: block;
    height: 10%;
    text-align: center;
}